@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}

.navbar {
    background: #2f3136;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 64px;
    letter-spacing: 0.12em;
}

.navbar-brand {
    padding: 0px 0px 0px 1.5rem;
}

.navbar-toggler {
    padding: 0px;
}


.home {
    width: 100%;
    height: auto;
    position: absolute;
    top: 30px;
    z-index: -1;
}

.toggle{
    width: 40px;
    height: 40px;
}

.hlogo {
    width: 50%;
    height: auto;

}

.cc {
    position: relative;
    margin-top: 45%;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #fff;
}


.outer{
    display: flex;
    justify-content: space-around;
}

.polaroid1 a {
    background: #ffffff;
    display: inline-block;
    /* margin: 55px 75px 30px; */
    padding: 10px 6px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    z-index: -1;
    position: relative;
    top: 35px;
    right: -50px;
  }
  .polaroid1 a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .polaroid1 img {
    display: block;
    width: 200px;
  }





  .polaroid2 a {
    background: #ffffff;
    display: inline-block;
    /* margin: 55px 75px 30px; */
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    z-index: 0;
    position: relative;
  }
  .polaroid2 a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .polaroid2 img {
    display: block;
    width: 250px;
  }


  .polaroid3 a {
    background: #ffffff;
    display: inline-block;
    /* margin: 55px 75px 30px; */
    padding: 10px 6px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    z-index: -1;
    position: relative;
    top: 35px;
    left: -50px;
  }
  .polaroid3 a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .polaroid3 img {
    display: block;
    width: 200px;
  }




.content {
    padding-left: 20px;
}

.content1 {
    margin: 0px;
    padding: 0px;
}

.btn {
    width: 95%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

}

.cc1 {
    margin-top: 200px;
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.contain_crousel_cards {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    -o-object-fit: cover;
    object-fit: cover;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked~.cards #song-1 img,
#item-2:checked~.cards #song-2 img,
#item-3:checked~.cards #song-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.c1 {
    width: auto;
    margin-top: 10%;
    padding-bottom: 10%;
    background: linear-gradient(360deg, #313539 0%, rgba(29, 34, 39, 0) 100%);
}

.event_box {
    display: block;
    margin: auto;
    width:fit-content;
    height: auto;
    background: rgba(217, 217, 217, 0.29);
    border-radius: 4px;
}

.got_covered {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    margin-top: 20%;
}

.click_box_home {
    display: block;
    margin: auto;
    width:fit-content;
    height: auto;
    margin-top: 20%;
    background: rgba(217, 217, 217, 0.45);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.book {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #000000;
    padding-top: 10px;
    margin: 15px;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}


.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
  .ev1{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    font-size: 8vh;
    line-height: 64px;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
  }

  @media (max-width: 1234px) {
    .polaroid3,.polaroid1{
      display: none;
    }
  }


  .card1 {
    margin-top: 20px;
}

.cards1 {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

footer{
    background-color: #000000;
    height: 50px;
}

.fimg{
    margin-top: 10px;
}